_sources/registries/fdd/fdd-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by OSI (Library of Congress) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fdd="http://www.digitalpreservation.gov/formats/schemas/fdd/v1" targetNamespace="http://www.digitalpreservation.gov/formats/schemas/fdd/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="http://www.digitalpreservation.gov:/formats/schemas/fdd/v1/htmlTypes.xsd"/>
	<!--  VERSION 1.0, July 20, 2012-->
	<!--     Declarations modified July 20, 2012 to support public access to FDD schema -->
	<!--     Modified September 23, 2010, to add Extension relationships and improve documentation for relationships   
-->
	<!--      Modified August 25, 2010, to add new QandF factors
-->
	<xsd:element name="FDD">
		<xsd:annotation>
			<xsd:documentation>Format Description Document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="properties" type="fdd:propertiesSection" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Format Description Document Properties</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="identificationAndDescription" type="fdd:identificationAndDescriptionSection" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Format Identification and Description</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="localUse" type="fdd:localUseSection" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Local Use</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="sustainabilityFactors" type="fdd:sustainabilityFactorsSection" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Sustainability factors</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="qualityAndFunctionalityFactors" type="fdd:qualityAndFunctionalityFactorsSection" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Quality and functionality factors</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="fileTypeSignifiers" type="fdd:fileTypeSignifiersSection" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							The File type signifiers section documents some of the signifiers that may be used by automated systems to identify a format or the data it contains.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="notes" type="fdd:notesType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							Notes (General and History)
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="formatSpecifications" type="fdd:formatSpecificationsType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							Format Specifications
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="usefulReferences" type="fdd:usefulReferencesType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							Useful References
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="footNotes" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence maxOccurs="unbounded">
							<xsd:element name="footNote">
								<xsd:complexType>
									<xsd:all>
										<xsd:element name="text" type="fdd:footNoteText"/>
									</xsd:all>
									<xsd:attribute name="id" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:pattern value="[1-9]{1}[0-9]*"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" use="required">
				<xsd:annotation>
					<xsd:documentation>Identifier for the format and its description.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="fdd[0-9]{6}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="titleName" use="required">
				<xsd:annotation>
					<xsd:documentation>Title for the format document</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="shortName" use="required">
				<xsd:annotation>
					<xsd:documentation>Mnemonic abbreviation used to refer to the format.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="propertiesSection">
		<xsd:annotation>
			<xsd:documentation>Format Description Properties</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="gdfrGenreSelection">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element ref="fdd:gdfrGenre">
							<xsd:annotation>
								<xsd:documentation>A single genre entry.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="gdfrGenreAndSubgenres">
							<xsd:annotation>
								<xsd:documentation>A single primary genre entry accompanied by one or more subsidiary-genre entries.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="fdd:gdfrGenre"/>
									<xsd:element ref="fdd:gdfrSubgenres"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element ref="fdd:gdfrGenres">
							<xsd:annotation>
								<xsd:documentation>One or more genre entries, none of which is of greater primacy than the others.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="formatCategories" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>General type of format, e.g., file format, bitstream encoding.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="category">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="family"/>
									<xsd:enumeration value="file-format"/>
									<xsd:enumeration value="encoding"/>
									<xsd:enumeration value="file-group"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gdfrComposition" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="unitary"/>
						<xsd:enumeration value="container-bundle"/>
						<xsd:enumeration value="container-wrapper"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="gdfrForm" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="binary"/>
						<xsd:enumeration value="text"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="gdfrConstraint" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="structured"/>
						<xsd:enumeration value="unstructured"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="gdfrBasis" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="sampled"/>
						<xsd:enumeration value="symbolic"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="gdfrDomains" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="gdfrDomain">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="value">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="astronomy"/>
												<xsd:enumeration value="cad-cam"/>
												<xsd:enumeration value="gis"/>
												<xsd:enumeration value="office/business"/>
												<xsd:enumeration value="telephony"/>
												<xsd:enumeration value="web-archive"/>
												<xsd:enumeration value="other"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="comment" type="fdd:notesText" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gdfrTransform" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="compression"/>
						<xsd:enumeration value="encryption"/>
						<xsd:enumeration value="message-digest"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="updates" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date description last updated.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="date" type="xsd:date"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="draftStatus" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Full [fully realized draft], Partial [draft in progress], Partial (low priority for LC) [format not expected to impact LC, no full draft contemplated], and Preliminary [placeholder for FDDid, lacking information for all or most sustainability, quality, or functionality factors]</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Full"/>
						<xsd:enumeration value="Partial"/>
						<xsd:enumeration value="Partial (low priority for LC)"/>
						<xsd:enumeration value="Preliminary"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="identificationAndDescriptionSection">
		<xsd:annotation>
			<xsd:documentation>Format Identification and Description</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fullName" type="xsd:string" form="qualified">
				<xsd:annotation>
					<xsd:documentation>Name of the format. Formal name, if the format has been established by a Standard Setting Organization (SSO), which include both Standards Developing Organizations (SDO) like ANSI and the various bodies it accredits in the US, or trade organizations, consortia, or other groups. For formats established by corporations, the common or colloquial full name is provided. Common names are also provided for standardized formats, when the formal name excludes colloquial elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="keywords" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="keyword" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="description" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Brief characterization of the format.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shortDescription" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Shorter Description of the Format</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productionPhase" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indication of how the format is generally used during the content life cycle, e.g., by creators or authors (initial state), by distributors, publishers, or archives (middle state), or as delivered to endusers (final state).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="relationships" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indications of the relationships between this and other formats, using statements of the types listed in the following rows. Intended to mesh with the work of the GDFR (Global Digital Format Registry).
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="relationship">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="typeOfRelationship">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="Has subtype">
													<xsd:annotation>
														<xsd:documentation>
															GDFR relationship is has_Restriction or possibly is-Extension-of
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Subtype of">
													<xsd:annotation>
														<xsd:documentation>
															GDFR relationship is is-Restriction-of
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Contains"/>
												<xsd:enumeration value="May contain"/>
												<xsd:enumeration value="Used by">
													<xsd:annotation>
														<xsd:documentation>
															Inverse of containment. Use only when it adds value for human reader, for example because format being described has an important primary use, or when no formats that may contain this format have been described in FDDs.
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Must have component">
													<xsd:annotation>
														<xsd:documentation>Use component relationships when dealing with a group of files that coexist and function together as a single resource.  Component files will often live in the same directory and have related names.</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="May have component"/>
												<xsd:enumeration value="Component of">
													<xsd:annotation>
														<xsd:documentation>Inverse of may or must have containment</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Defined via">
													<xsd:annotation>
														<xsd:documentation>
															Used to indicate that an XML-based format is defined via W3C XML Schema or Relax NG, for example.
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Requires"/>
												<xsd:enumeration value="Modification of">
													<xsd:annotation>
														<xsd:documentation>
														As used in GDFR for relationships that are neither strictly extensions or restrictions of each other. E.g., BWF is Modification of WAVE)
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Has modified version">
													<xsd:annotation>
														<xsd:documentation>
															Use only as inverse of Modification_of. As used in GDFR for relationships that are neither strictly extensions or restrictions of each other.  E.g., WAVE has modified version BWF.  Use only when it adds value for human reader, e.g., because related format is particularly important and might be expected to be described as a subtype.
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Extension of">
													<xsd:annotation>
														<xsd:documentation>
															As used in GDFR.  B is an extension of A if all instances of A are also instances of B, but not all instances of B are instances of A.  Technically equivalent to Has_subtype, but more intuitive when B follows A chronologically.  Use in preference to Has Earlier Version if the GDFR definition fo rextension is satisfied.  If a format has a robust extensibility mechanism, new versions that use that mechanism (without making other changes) will be extensions of a base format.
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Has extension">
													<xsd:annotation>
														<xsd:documentation>
															As used in GDFR.  Inverse of Extension_of.  Use in preference to Has Later Version if GDFR definition of extension is known to be satisfied.
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Has earlier version">
													<xsd:annotation>
														<xsd:documentation>
															Preferred to Version of
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Has later version">
													<xsd:annotation>
														<xsd:documentation>
															Preferred to Version of
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Version of">
													<xsd:annotation>
														<xsd:documentation>
															Use when more precise relationship (e.g. subtype) does not apply and version relationship is non-temporal (e.g., geographical) or when sequence is unknown.
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Equivalent to">
													<xsd:annotation>
														<xsd:documentation>
															From GDFR, for semantic or syntactic equivalence, e.g., TIFF (little-endian) is syntactically equivalent to TIFF (big-endian).
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Affinity to">
													<xsd:annotation>
														<xsd:documentation>
															Significant *technical* resemblance not meeting formal requirements of GDFR relationship types.
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Additional">
													<xsd:annotation>
														<xsd:documentation>
															Candidate for new type of relationship. Label for typeOfRelationship to be provided in explanatory comment
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="Other">
													<xsd:annotation>
														<xsd:documentation>
															Significant non-technical relationship. To be accompanied by an explanatory comment.
														</xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="relatedTo" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="id" minOccurs="0">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:pattern value="fdd[0-9]{6}"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="shortName" type="xsd:string" minOccurs="0"/>
												<xsd:element name="titleName" type="xsd:string" minOccurs="0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="comment" type="fdd:notesText" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="localUseSection">
		<xsd:annotation>
			<xsd:documentation>Local Use</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="experience" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Report of actual practice at the Library of Congress.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="preference" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Provisional Library of Congress format preference. In some cases, the statement will indicate that the format at hand is preferred; in others, the statement will identify a different format as preferred; in still others, no preference will be known.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sustainabilityFactorsSection">
		<xsd:annotation>
			<xsd:documentation>Sustainability factors</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="disclosure" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Level of available technical information about the format, including documentation that requires purchase. Typical statements of level include open standard, fully documented, partially documented, and little documentation. The statement of level is followed by the identification of source or developer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documentation" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Citation of specifications or other documentation. For standardized formats, identification of relevant standard, generally by assigned number. A few individual documents are cited in this location; if the list is long (as it is for many multipart ISO/IEC standards), the complete list is provided in the Format specifications or Useful references sections at the bottom of the page. All documents cited in the table portion of the Format Description are cited again in Format specifications or Useful references below.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adoption" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Assessment of the degree to which this format is implemented and employed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="licensingAndPatents" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Statement regarding patents and/or licensing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transparency" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Statement regarding the nature of the encoding and/or bitstream, suggestive of the ease with which rendering tools may be obtained or built.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="selfDocumentation" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Statement regarding the degree to which the format supports the inclusion of metadata (descriptive, administrative, and structural).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="externalDependencies" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Statement regarding the need for external software or hardware</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="techProtection" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Support by this format for elements that protect intellectual (or other) property</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="qualityAndFunctionalityFactorsSection">
		<xsd:annotation>
			<xsd:documentation>Quality and functionality factors</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="stillImageQF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="normalImage" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Normal Rendering.  Supports on-screen viewing and printing to paper of raster, vector, and other two-dimensional images.  For images with sufficient spatial resolution or vector capabilities, includes the ability to zoom in to study detail, to scale images to display at different sizes or on devices of different resolution, and/or the ability to produce publication quality output.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="clarity" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Clarity (support for high image resolution).  Does this format support the representation of pictures that would be deemed high resolution when viewed by experts or repurposed for a very high quality application? </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="colorMaint" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Color maintenance (support for color management).  Refers to the degree to which the color gamut represented in a given image can be managed and maintained through various outputs or migrations; for example, via support for color encoding in different colorspaces and the metadata needed by color management systems, such as the inclusion of a color map for indexed-color files or an ICC profile for the capture device.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="graphics" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support for vector graphics, including graphic effects and typography.  Refers to the support within the format for scaleable shapes, labels, legends, and other vector-graphic features.  Also to the degree to which the format supports the use of shadows, filters or other effects as applied to fill areas and text, offers levels of transparency, and manages the specification of fonts and patterns. </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="multispectral" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support for multispectral bands.  Refers to support for multiple spectral bands employed to support scientific analysis, in contrast to widely adopted color-model (colorspace) configurations oriented toward human perception, e.g., RGB or CMYK.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="beyondImage" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Functionality beyond normal rendering</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="movingImageQF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="normalVideo" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Normal rendering</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="clarity" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Clarity (support for high image resolution)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="beyondVideo" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Functionality beyond normal rendering</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="soundQF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="normalSound" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Normal rendering</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="fidelity" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Fidelity (support for high audio resolution)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="channels" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support for multiple channels (including note-based, e.g., MIDI)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="samples" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support for downloadable or user-defined sounds, samples, and patches</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="beyondSound" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Functionality beyond normal rendering</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="textQF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="normalText" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Normal rendering</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="structure" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support for integrity of document structure and navigation</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="layout" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support for integrity of layout, font, and other design features</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="mathDiag" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support for rendering for mathematics, formulae, diagrams, etc.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="beyondText" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Functionality beyond normal rendering</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="webArchiveQF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="normalWeb" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Normal rendering</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="docHarvest" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Documentation of harvesting context</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="efficiency" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Efficiency at scale</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="stewardship" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support for stewardship</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="beyondWeb" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Functionality beyond normal rendering</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="datasetQF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="normalDataset" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Normal functionality.  The basic functionality for a dataset format is to provide a structured representation of numeric or character-based values together with information that permits automated manipulation of the structure and the representation in order to perform calculations and transformations based on the values.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="accessSoftware" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support for software interfaces for access to data within a dataset.  Refers to support for standard, widely available, or community-specific APIs, software toolkits, or software libraries, particularly for extracting data subsets, data manipulation/transformation, data aggregation, or domain-specific functionality.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="dataDocumentation" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support for documenting data quality or provenance.  Refers to support for documentation in textual or, preferably, in structured machine-processable form (e.g., in a well-known XML schema).</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="beyondDataset" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Functionalities beyond normal and not covered by other factors.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gisQF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="normalGIS" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Normal functionality.  The basic functionality for a GIS format is the ability to locate information in relation to the surface of the earth, either both horizontally and vertically or horizontally with height or depth implicit.  This geo-referencing may locate an entire resource (e.g. an image) or individual data values within a resource.  Spatial data is usually stored as coordinates and topology or as georeferenced images and is data that can be mapped, accessed, manipulated or analyzed. </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="metadataGIS" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support within the format for GIS-specific metadata, in a machine-processable form, particularly in a form that satisfies standards or community practices in a way that contributes to interoperability.  Important characteristics to be recorded in metadata include: projection, scale, datum for coordinates.  For certain categories of GIS files, other characteristics may be significant, e.g. percentage of cloud cover in satellite images.  Note that support for metadata documenting data quality and provenance is covered in a Dataset factor.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="grids" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Support for grids.  Refers to support for recording gridded data, i.e. where one or more data values are associated with each rectangular cell in a grid defined by geographic coordinates.  Note that raster images can function as pixel-based grids.  </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="beyondGIS" type="fdd:notesText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Functionalities beyond normal and not covered by other factors.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="otherQF" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="factor">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="tag" type="xsd:string"/>
									<xsd:element name="note" type="fdd:notesText"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fileTypeSignifiersSection">
		<xsd:annotation>
			<xsd:documentation>This section documents some of the signifiers that may be used by automated systems to identify a format or the data it contains.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="signifiersGroup">
				<xsd:complexType>
					<xsd:sequence minOccurs="0">
						<xsd:element name="filenameExtension" type="fdd:signifierType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									Name extensions generally used in Windows, UNIX, and other environments. From various sources.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="internetMediaType" type="fdd:signifierType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									When Possible, from the IANA MIME Media Types site; otherwise (and in addition) from other sources.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="magicNumbers" type="fdd:signifierType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									The first bits in a file, used to identify the type of file, often associated with Unix and its derivatives. The most frequent sources for information are Gary Kessler's File Signatures and Filext.com
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="other" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>This is the list of values after review in September 2008.  In addition to a few additionss, a few modifications were made to reduce redundancy, provide context or clarification. Not intended to be sufficient to build an identification tool with fine granularity.
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="tag">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="Apple Video Sample Description"/>
												<xsd:enumeration value="Apple Sound Codec four-character codes"/>
												<xsd:enumeration value="ASF GUID"/>
												<xsd:enumeration value="File signature"/>
												<xsd:enumeration value="File type brand (ISO Base Media File Format)"/>
												<xsd:enumeration value="Header partition pack key (MXF)"/>
												<xsd:enumeration value="ID3 marker"/>
												<xsd:enumeration value="IFF formname and/or chunkname"/>
												<xsd:enumeration value="Image header box (JPEG 2000)"/>
												<xsd:enumeration value="Indicator for profile, level, version, etc."/>
												<xsd:enumeration value="Mac OS file type"/>
												<xsd:enumeration value="Microsoft WAVE format registry"/>
												<xsd:enumeration value="Microsoft FOURCC"/>
												<xsd:enumeration value="RIFF form type"/>
												<xsd:enumeration value="Uniform Type Identifier (Mac OS)"/>
												<xsd:enumeration value="XML DOCTYPE declaration"/>
												<xsd:enumeration value="XML schema declaration"/>
												<xsd:enumeration value="XML namespace declaration"/>
												<xsd:enumeration value="Other"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="values" type="fdd:signifierType" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="notesType">
		<xsd:annotation>
			<xsd:documentation>Notes (General and History)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="general" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Additional information, often an extension of description in the first section above.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="history" type="fdd:notesText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Information about the history of the format.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="formatSpecificationsType">
		<xsd:annotation>
			<xsd:documentation>Format Specifications</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="urls" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="url" type="fdd:urlType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="citations" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="citation" type="fdd:citationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="usefulReferencesType">
		<xsd:annotation>
			<xsd:documentation>Useful References</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="urls" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use for Web sites and Web pages that are not equivalent to a single coherent document with a title intended to be persistent.  For persistent documents, use "citation" element.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="url" type="fdd:urlType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="citations" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="citation" type="fdd:citationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="urlType">
		<xsd:annotation>
			<xsd:documentation>Use for Web sites and Web pages that are not equivalent to a single coherent document with a title intended to be persistent.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="urlReference" type="fdd:urlReferenceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use for single Web sites and Web pages that are not equivalent to a single coherent document with a title intended to be persistent.  NOTE: CHOICE between urlReference and urlGroup -- if you open both, you will need to delete one to create valid FDD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="urlGroup" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Group of related url elements with introductory notesText that covers them all.  NOTE: To use urlGroup instead of urlReference, you may need to delete an empty urlReference created by default.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="intro" type="fdd:notesText"/>
						<xsd:element name="urlList" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="urlReference" type="fdd:urlReferenceType" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="citationType">
		<xsd:annotation>
			<xsd:documentation>Use for documents published with clear intent to be persistent and persistently citeable in print, online, or both. Allows tagging of title, author, etc. Can include URL and link. Can be an individual citation or a group of related citations (without further nesting).</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="bookReference" type="fdd:bookReferenceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use details element and rel attribute to tag author, title, etc, within citation for possible future reference linking through OpenURL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="articleReference" type="fdd:articleReferenceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use details element and rel attribute to tag author, title, etc, within citation for possible future reference linking through OpenURL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="specReference" type="fdd:specReferenceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use details element and rel attribute to tag title, standard number, etc, within citation for possible future reference linking through OpenURL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="docGroup" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Group of related document citations with introductory notesText</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="intro" type="fdd:notesText"/>
						<xsd:element name="referenceList" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence maxOccurs="unbounded">
									<xsd:element name="specReference" type="fdd:specReferenceType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Use details element and rel attribute to tag title, standard number, etc, within citation for possible future reference linking through OpenURL.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="bookReference" type="fdd:bookReferenceType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Use details element and rel attribute to tag author, title, etc, within citation for possible future reference linking through OpenURL.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="articleReference" type="fdd:articleReferenceType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Use details element and rel attribute to tag author, title, etc, within citation for possible future reference linking through OpenURL.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="signifierType">
		<xsd:sequence>
			<xsd:group ref="fdd:signifierGroup"/>
			<xsd:element name="note" type="fdd:notesText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="signifierGroup">
		<xsd:choice>
			<xsd:element name="sigValues" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use either a sequence of separate values for the signifier or one of the enumerated string values for sigValueNA (to say something about signifier values without actually providing one or more)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="sigValue" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sigValueNA" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Not found."/>
						<xsd:enumeration value="Not applicable."/>
						<xsd:enumeration value="See note."/>
						<xsd:enumeration value="See related format."/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:choice>
	</xsd:group>
	<xsd:element name="gdfrGenre">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="aggregate"/>
				<xsd:enumeration value="any"/>
				<xsd:enumeration value="database"/>
				<xsd:enumeration value="dataset"/>
				<xsd:enumeration value="executable"/>
				<xsd:enumeration value="model"/>
				<xsd:enumeration value="moving-image"/>
				<xsd:enumeration value="other"/>
				<xsd:enumeration value="presentation"/>
				<xsd:enumeration value="sound"/>
				<xsd:enumeration value="spreadsheet"/>
				<xsd:enumeration value="still-image"/>
				<xsd:enumeration value="text"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="gdfrGenres">
		<xsd:complexType>
			<xsd:sequence maxOccurs="unbounded">
				<xsd:element ref="fdd:gdfrGenre"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="gdfrSubgenres">
		<xsd:complexType>
			<xsd:sequence maxOccurs="unbounded">
				<xsd:element name="gdfrSubgenre">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="aggregate"/>
							<xsd:enumeration value="any"/>
							<xsd:enumeration value="database"/>
							<xsd:enumeration value="dataset"/>
							<xsd:enumeration value="executable"/>
							<xsd:enumeration value="model"/>
							<xsd:enumeration value="moving-image"/>
							<xsd:enumeration value="other"/>
							<xsd:enumeration value="presentation"/>
							<xsd:enumeration value="sound"/>
							<xsd:enumeration value="spreadsheet"/>
							<xsd:enumeration value="still-image"/>
							<xsd:enumeration value="text"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>