_sources/registries/fdd/htmlTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
<!--  For inclusion in fdd.xsd, schema for Format Description Documents, to handle HTML styling within FDDs -->
<!--  VERSION 1.0, July 20, 2012-->
<!--     Declarations modified July 20, 2012 to support public access to FDD schema -->
	<xsd:complexType name="notesText" mixed="true">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="b" type="xsd:string" minOccurs="0"/>
			<xsd:element name="i" type="xsd:string" minOccurs="0"/>
			<xsd:element name="sup" type="xsd:string" minOccurs="0"/>
			<xsd:element name="p" type="paragraphType" minOccurs="0"/>
			<xsd:element name="br" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="a" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="href" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ul" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="li" type="notesText" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fddLink" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="id" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="fdd[0-9]{6}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="footNote" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="id" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[1-9]{1}[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="footNoteText" mixed="true">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="b" type="xsd:string" minOccurs="0"/>
			<xsd:element name="i" type="xsd:string" minOccurs="0"/>
			<xsd:element name="sup" type="xsd:string" minOccurs="0"/>
			<xsd:element name="p" type="paragraphType" minOccurs="0"/>
			<xsd:element name="br" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="a" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="href" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ul" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="li" type="notesText" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fddLink" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="id" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="fdd[0-9]{6}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="urlReferenceType">
		<xsd:annotation>
			<xsd:documentation>Use for Web sites and Web pages that are not equivalent to a single coherent document with a title intended to be persistent.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="link" type="xsd:string"/>
			<xsd:element name="tag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="bookReferenceType" mixed="true">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="b" type="xsd:string" minOccurs="0"/>
			<xsd:element name="i" type="xsd:string" minOccurs="0"/>
			<xsd:element name="sup" type="xsd:string" minOccurs="0"/>
			<xsd:element name="p" type="paragraphType" minOccurs="0"/>
			<xsd:element name="br" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="a" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="href" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ul" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="li" type="notesText" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fddLink" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="id" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="fdd[0-9]{6}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bookRefDetail" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:annotation>
						<xsd:documentation>Permits tagging within citations using element names from the OpenURL KEV matrix of books. date tag is for date of publication and for books is expected to be a year in YYYY format.</xsd:documentation>
					</xsd:annotation>
					<xsd:attribute name="rel" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="au"/>
								<xsd:enumeration value="aucorp"/>
								<xsd:enumeration value="btitle"/>
								<xsd:enumeration value="atitle"/>
								<xsd:enumeration value="date"/>
								<xsd:enumeration value="isbn"/>
								<xsd:enumeration value="issn"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="footNote" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="id" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[1-9]{1}[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="articleReferenceType" mixed="true">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="b" type="xsd:string" minOccurs="0"/>
			<xsd:element name="i" type="xsd:string" minOccurs="0"/>
			<xsd:element name="sup" type="xsd:string" minOccurs="0"/>
			<xsd:element name="p" type="paragraphType" minOccurs="0"/>
			<xsd:element name="br" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="a" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="href" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ul" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="li" type="notesText" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fddLink" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="id" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="fdd[0-9]{6}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="articleRefDetail" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:annotation>
						<xsd:documentation>Permits tagging within citations using element names from the OpenURL KEV matrix for journals. date tag is for date of publication and is preferably in one of the following formats. YYYY-MM-DD | YYYY-MM | YYYY.</xsd:documentation>
					</xsd:annotation>
					<xsd:attribute name="rel" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="au"/>
								<xsd:enumeration value="aucorp"/>
								<xsd:enumeration value="jtitle"/>
								<xsd:enumeration value="atitle"/>
								<xsd:enumeration value="date"/>
								<xsd:enumeration value="doi"/>
								<xsd:enumeration value="issn"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="footNote" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="id" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[1-9]{1}[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="specReferenceType" mixed="true">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="b" type="xsd:string" minOccurs="0"/>
			<xsd:element name="i" type="xsd:string" minOccurs="0"/>
			<xsd:element name="sup" type="xsd:string" minOccurs="0"/>
			<xsd:element name="p" type="paragraphType" minOccurs="0"/>
			<xsd:element name="br" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="a" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="href" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ul" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="li" type="notesText" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fddLink" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="id" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="fdd[0-9]{6}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="specRefDetail" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:annotation>
						<xsd:documentation>Permits tagging date of publication, (preferably a year in YYYY format), standard number, and title.</xsd:documentation>
					</xsd:annotation>
					<xsd:attribute name="rel" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="date"/>
								<xsd:enumeration value="stitle"/>
								<xsd:enumeration value="snum"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="footNote" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="id" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[1-9]{1}[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="paragraphType" mixed="true">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="b" type="xsd:string" minOccurs="0"/>
			<xsd:element name="i" type="xsd:string" minOccurs="0"/>
			<xsd:element name="sup" type="xsd:string" minOccurs="0"/>
			<xsd:element name="br" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="a" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="href" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fddLink" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="id" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="fdd[0-9]{6}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="footNote" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="id" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[1-9]{1}[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>